.App {
  background-color: #282c34;
  min-height: 100vh;
  color: whitesmoke;
}


.item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 250px;
  background-color: black;
  margin: 10px 0px 10px 5px;
  padding: 5px;
}
.item_btn_Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-height: 50px;
}